<!-- templates/dashboard.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <h3>Your Stock Items:</h3>
    <ul>
        {% for item in stock_items %}
            <li>{{ item.name }} - {{ item.quantity }} 
                <a href="{{ url_for('update_stock', id=item.id) }}">Update</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_stock') }}">Add New Stock</a><br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
